* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

li {
    display: inline;
    font-size: 1vw;
    padding: 0 10px;
}

li a {
    text-decoration: none;
    color: white;
}

ul {
    text-align: center;
}

header {
    background-color: red;
    padding: 25px;
}

.container {
    background-color: yellow;
    height: calc(100vh - 1vw - 25px - 60px - 25px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 img {
    animation-name: widthAnimate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.box2 img {
    margin: 0 20px;
    animation-name: imageRotate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.box3 {
    margin-left: auto;
}

.box3 img {
    animation-name: widthAnimate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes widthAnimate {
    0% {
        width: 210px;
    }

    100% {
        /* FIX: 100vw minus (Dragon 150px + Margins 40px + Min Sword 210px) = 400px */
        width: calc(100vw - 400px);
    }
}

@keyframes imageRotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1080deg); /* 3 full rotations */
    }
}

.footer {
    background-color: red;
    height: 60px;
    width: 100%;
}

#copyright {
    color: white;
    text-align: center;
    padding-top: 20px;
}
