doctype html
html
  head
    title= recipe.name
    link(rel='stylesheet', href='/style.css')
  body
    h1= recipe.name
    img(src='/assets/recipe.jpeg', alt='Recipe Image', width='300')
    h2 Ingredients
    ul
      each item in recipe.ingredients
        li(style='color: green; font-weight: bold')= item
    h2 Steps
    ol
      each step in recipe.steps
        li= step
